%flex {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
    flex-direction: row;
}

%texto{
    text-decoration: none;
    list-style: none;
}
.galeria {
   @extend%flex;  
  }
.menu {
    @extend%texto;
    @extend %flex;  
    justify-content: center;  
    background-color: rgb(242, 157, 219);
    background-size: auto;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .enlaces{   
    color: white;
    @extend%texto;
  }
  ul{
    @extend%texto;
  }
  a{
    @extend%texto;
    color: white;
  }
  .container-red{    
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
    flex-direction: column;
}

    
  
  