.index {
    background-image: url(../imagenes/globos.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
  }
  
  .festejar {
    background-image: url(https://img.freepik.com/foto-gratis/vista-superior-arreglo-pastel-delicioso_23-2148933607.jpg?size=626&ext=jpg&ga=GA1.1.1396586802.1634812801&semt=ais_hybrid);
    height: 90vh;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
  }
  

 