header {
    background-image: url(../imagenes/globos.jpg);
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .festejar {
    background-image: url(../imagenes/festejar.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

 