
.image2 {
    width: 100%;
    height: 90vh;
  }


.btncontacto:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.fw-bold {
    text-align: justify;
  }
.container{
    display: grid;
    grid-template-columns: repeat(2/2fr);
    grid-template-rows: repeat(2,50rem);
    justify-content:center;
    align-content: center;
    gap: 10px 10px;
}
.prodUno{
    grid-column: 1/2;
    grid-row: 1/2;
    border: solid 1px;

}
.prodDos{
    grid-column: 2/3;
    grid-row: 1/2;
    border: solid 1px;
}
.prodTres{
    grid-column: 1/2;
    grid-row: 2/3;
    border: solid 1px
}
.prodCuatro{
    grid-column: 2/3;
    grid-row: 2/3;
    border: solid 1px
}