
.image2 {
    width: 100%;
    height: 90vh;
  }


.btncontacto:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.fw-bold {
    text-align: justify;
  }
.grid text-cente{
    height: 70vh;
    background-image: url(../imagenes/galles-animalitos.jpg);
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}