
.image2 {
    width: 100%;
    height: auto;
  }


.btncontacto:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.fw-bold {
    text-align: center;
  }

.contacto{
  color:rgb(237, 76, 168);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ingreso{
  color:rgb(69, 69, 69);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.fondo{
  background-image: url(https://img.freepik.com/foto-gratis/marco-ingredientes-alimentarios-hornear-sobre-fondo-pastel-ligeramente-rosa-cocinar-plano-espacio-copia-vista-superior-concepto-horneado-endecha-plana_127032-2200.jpg?size=626&ext=jpg&ga=GA1.1.1396586802.1634812801&semt=ais_hybrid);
  height: 90vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}
.fondo-galeria{
  background-image: url(https://img.freepik.com/foto-gratis/regalo-cumpleanos_23-2148124361.jpg?t=st=1726427153~exp=1726430753~hmac=648f50015b8671758b5d8bccd0dd85c4da9b0efb3231bcde41e4dd762e4020c3&w=1060);
  height: 90vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;

}
