.container{
    gap: 20px;
}

.card{
    box-shadow: 5px 5px 5px rgb(204, 123, 180);
}
.container .card:hover{
    transform: translatey(-15px);
}
.card-imagenes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
